export ETH_FROM='string: wallet address'
export ETH_KEYSTORE='string: keystore directory'
export ETH_PASSWORD='string: keystore file password'

export ALCHEMY_API_KEY='string: API key'
export ETHERSCAN_API_KEY='string: API key'
